/* Main body of text*/

body {
  background-color: #ffffff;
  font-family: sans-serif;
  margin: auto;
  max-width: 85%;
}

.content { 
  font-family: sans-serif;
  color: #000000;
  margin-left : 20%; 
  max-width: 90%;
  min-width: 80%
}


/* Top Naviation Bar*/
.navbar {
  background-color: #F28F3B;
  border-radius: 2px;
  max-width: 100%;
  min-width: 80%;
  margin-left: 12.2%
}

.navbar a {
  color: #FFD5C2;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* Bottom Naviation Bar*/
.bottomnav {
  background-color: #F28F3B;
  border-radius: 2px;
  max-width: 100%;
  min-width: 80%;
  margin-left: 12.2%
}

.bottomnav a {
  color: #FFD5C2;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.bottomnav a:hover {
  color: #ffffff;
}


 /* The sidebar menu */
 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 18%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #588B8B; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 30px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav b {
  padding: 20px 10px 6px 30px;
  font-family: 'Helvetica';
  font-weight: lighter;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  list-style-type: circle;
}

.sidenav c {
  padding: 25px 10px 6px 30px;
  font-family: 'Helvetica';
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

figure {
  padding: 4px;
  margin: auto;
}

figcaption {
  color: #000000;
  font-size: 14px;
  padding: 2px;
  text-align: left;
}